{% extends "base.html" %}

{% block content %}
  <div class="vh-100 d-flex justify-content-center align-items-center container">
    <div class="px-5 py-0 my-0 text-center bg-body-tertiary rounded-3">
      <h1 class="text-body-emphasis">dotfm</h1>
      <p class="col-lg-8 mx-auto fs-5 text-muted">
        It's time to build something amazing. Let's use our expertise in development to create extraordinary projects that make a real difference in people's lives.
      </p>
      <div class="d-inline-flex gap-2 mb-5">
        {% heroicon_solid "face-smile" class="text-warning" %}
        {% heroicon_solid "face-smile" class="text-warning" %}
        {% heroicon_solid "face-smile" class="text-warning" %}
        {% heroicon_solid "face-smile" class="text-warning" %}
        {% heroicon_solid "face-smile" class="text-warning" %}
      </div>
    </div>
  </div>
{% endblock content %}
