{% verbatim %}
  {% extends 'base.html' %}

  {% block content %}
  {% endverbatim %}
  <section class="flex justify-between">
    <h1 class="text-lg font-bold">{{ model.verbose_name_plural|capfirst }}</h1>
    <a href="{{ create_view_url|safe }}"
       class="cursor-pointer py-2 px-4 bg-blue-600 hover:bg-blue-700 focus:ring-blue-500 focus:ring-offset-blue-200 text-white text-center text-base font-semibold focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-lg">
      New {{ model.name|capfirst }}
    </a>
  </section>
  {% verbatim %}

    {% partialdef table inline %}
      <div id="table">
        {% endverbatim %}
        {{ table_block|safe }}
        {{ pagination_block|safe }}
        {% verbatim %}
      </div>
    {% endpartialdef %}

  {% endblock content %}

{% endverbatim %}
