# IMPORTS:START
from django import forms

from .models import {{model_name}}

# IMPORTS:END


# CODE:START
class {{model_name}}Form(forms.ModelForm):
    class Meta:
        model = {{model_name}}
        fields = (
        {% for field_name, field_data in model_fields.items() if field_data["editable"] %}
            {% if not loop.first %}, {% endif %}"{{ field_name }}"
        {% endfor %}
        ){% if has_editable_date_fields %}
        widgets = {
            {% for field_name, field_data in model_fields.items() if field_data["editable"] %}
                {% if field_data["class_name"] == "DateField" %}
                    "{{ field_name }}": forms.DateInput(attrs={"type": "date"}),
                {% elif field_data["class_name"] == "DateTimeField" %}
                    "{{ field_name }}": forms.DateTimeInput(attrs={"type": "datetime-local"}),
                {% elif field_data["class_name"] == "TimeField" %}
                    "{{ field_name }}": forms.TimeInput(attrs={"type": "time"}),
                {% endif %}
            {% endfor %}
        }
        {% endif %}


# CODE:END
