# IMPORTS:START
from django.forms import ModelForm

from .models import {{model_name}}

# IMPORTS:END


# CODE:START
class {{model_name}}Form(ModelForm):
    class Meta:
        model = {{model_name}}
        fields = (
        {% for field_name, field_data in model_fields.items() if field_data["editable"] %}
            {% if not loop.first %}, {% endif %}"{{ field_name }}"
        {% endfor %}
        )


# CODE:END
