{% verbatim %}
{% load static %}
{% load django_htmx %}
{% load tailwind_cli %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    {% endverbatim %}<title>{{ project_name }}</title>{% verbatim %}
    {% tailwind_css %}
    <script defer src="{% static "vendors/htmx/htmx.min.js" %}"></script>
    {% django_htmx_script %}
    {% block extra_head %}
    {% endblock extra_head %}
  </head>
  <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    {% block content %}
    {% endblock content %}
    {% block extra_body %}
    {% endblock extra_body %}
  </body>
</html>
{% endverbatim %}
