[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "falco-cli"
dynamic = ["version"]
description = 'Enhance your Django developer experience: CLI and Guides for the Modern Developer.'
readme = "README.md"
requires-python = ">=3.10"
license = "MIT"
keywords = ["django", "python", "cookiecutter", "project-template"]
authors = [
  { name = "Tobi DEGNON", email = "tobidegnon@proton.me" },
]
classifiers = [
  "Development Status :: 4 - Beta",
  "Programming Language :: Python",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python :: 3.12",
  "Programming Language :: Python :: Implementation :: CPython",
  "Programming Language :: Python :: Implementation :: PyPy",
  "Framework :: Django :: 4",
  "Framework :: Django :: 4.0",
  "Framework :: Django :: 4.1",
  "Framework :: Django :: 4.2",
  "Intended Audience :: Developers",
  "Natural Language :: English",
]
dependencies = [
  "django<6",
  "cappa==0.15.2",
  "rich",
  "httpx",
  "honcho",
  "tomli",
  "python-dotenv",
  "autoflake",
  "black",
  "isort",
  "djlint",
]
[tool.hatch.metadata]
allow-direct-references = true

[project.scripts]
falco = "falco.__main__:main"

[project.urls]
Homepage = "https://falco.oluwatobi.dev/"
Documentation = "https://falco.oluwatobi.dev/"
Issues = "https://github.com/tobi-de/falco/issues"
Source = "https://github.com/tobi-de/falco"

[tool.hatch.version]
path = "src/falco/__about__.py"

[tool.hatch.build.targets.wheel]
packages = ["src/falco", "src/falco_blueprints"]

[tool.hatch.envs.default]
dependencies = [
  "coverage[toml]>=6.5",
  "pytest",
  "ipython",
  "pre-commit",
]
[tool.hatch.envs.default.scripts]
test = "pytest {args:tests}"
test-cov = "coverage run -m pytest {args:tests}"
cov-report = [
  "- coverage combine",
  "coverage report",
]
cov = [
  "test-cov",
  "cov-report",
]
make-blueprints = "python scripts/make_blueprints_from_demo.py"

[tool.hatch.envs.docs]
dependencies = [
  "sphinx",
  "sphinx-autobuild",
  "myst-parser",
  "shibuya",
  "sphinx-design",
  "sphinx-tabs",
  "sphinx-copybutton",
  "sphinx-togglebutton",
  "sphinx-autorun",
  "rich-codex",
]

[tool.hatch.envs.docs.scripts]
serve = "sphinx-autobuild docs docs/_build/html --port 8002"
cli-images = "rich-codex --configs docs/.rich-codex.yml  --skip-git-checks --no-confirm --terminal-theme MONOKAI"
update-readme-guides = "python scripts/update_readme_guides.py"
prepare-deploy = ["update-readme-guides", "cli-images"]

[[tool.hatch.envs.all.matrix]]
python = ["3.8", "3.9", "3.10", "3.11", "3.12"]

[tool.hatch.envs.types]
dependencies = [
  "mypy>=1.0.0",
]
[tool.hatch.envs.types.scripts]
check = "mypy --install-types --non-interactive {args:src/falco tests}"

[tool.coverage.run]
source_pkgs = ["falco", "tests"]
branch = true
parallel = true
omit = [
  "src/falco/__about__.py",
]

[tool.coverage.paths]
falco = ["src/falco", "*/falco/src/falco"]
tests = ["tests", "*/falco/tests"]

[tool.coverage.report]
exclude_lines = [
  "no cov",
  "if __name__ == .__main__.:",
  "if TYPE_CHECKING:",
]
