{% raw %}
{% extends 'base.html' %}
{% load partials %}

{% block content %}
{% endraw %}
    <section class="d-flex justify-content-between">
        <h1 class="text-lg text-bold align-self-center py-4">{{ model_verbose_name_plural|capitalize }}</h1>
        <a href="{{ create_view_url|safe }}" class="align-self-center btn btn-primary">
            New {{ model_name|capitalize }}
        </a>
    </section>

{% raw %}
  {% partialdef table inline=True %}

    <div id="table">
        <div class="card card-h-100 w-100">
            <div class="card-body pt-0">
                <div class="table-responsive mt-3">
                    <table class="table table-sm mb-0 font-13 table-hover text-start text-nowrap">
                        <thead>
                            {% endraw %}
                                <tr>
                                    {% for _, field_data in model_fields.items() %}
                                    <th scope="col">{{ field_data["verbose_name"] }}</th>
                                    {% endfor %}
                                    <th scope="col">Actions</th>
                                </tr>
                            {% raw %}
                        </thead>
                        <tbody>
                            {% for {% endraw %}{{ model_name|lower }} in {{model_name|lower}}s_page {% raw %} %}
                            {% endraw %}
                                <tr class="border py-3">
                                    {% for _, field_accessor in fields_verbose_name_with_accessor.items() %}
                                        <td>{{field_accessor}}</td>
                                    {% endfor %}
                                    <td class="border-start">
                                        {% raw %}
                                        {% endraw %}
                                        <a class="ps-2" href="{{ detail_view_url|safe }}">View
                                        </a>|
                                        <a class="ps-2" href="{{ update_view_url|safe }}">Edit
                                        </a>|
                                        <a class="cursor-pointer ps-2"
                                            hx-target="closest tr"
                                            hx-swap="outerHTML"
                                            hx-confirm="Are you sure you?"
                                            hx-delete="{{ delete_view_url|safe }}">
                                            Delete
                                        </a>
                                    </td>
                                </tr>
                                {% raw %}
                            {% endfor %}
                        </tbody>
                    </table>
                    {% if{% endraw %} {{model_name|lower}}s_page.paginator.num_pages {% raw %}> 1 %}
                        <nav class="d-flex justify-content-end mt-3 mb-4" aria-label="...">
                            <ul class="pagination mb-0" hx-target="#table" hx-swap="outerHTML"  hx-push-url="true">
                                {% if{% endraw %} {{model_name|lower}}s_page.has_previous {% raw %}%}
                                    <li class="page-item">
                                        <a class="page-link" hx-get="?page=1">First</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" hx-get="?page={{ {% endraw %}{{model_name|lower}}s_page.previous_page_number{% raw %} }}">
                                            Previous
                                        </a>
                                    </li>
                                {% endif %}

                                {% for num in{% endraw %} {{model_name|lower}}s_page.paginator.page_range {% raw %}%}
                                    {% if{% endraw %} {{model_name|lower}}s_page.number == num {% raw %}%}
                                        <li class="page-item">
                                            <a class="page-link" hx-get="?page={{ num }}">{{ num }}</a>
                                        </li>
                                    {% elif num > {% endraw %}{{model_name|lower}}s_page.number|add:'-3'{% raw %} and num < {% endraw %}{{model_name|lower}}s_page.number|add:'3' {% raw %}%}
                                        <li class="page-item">
                                            <a class="page-link" hx-get="?page={{ num }}">{{ num }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}

                                {% if{% endraw %} {{model_name|lower}}s_page.has_next {% raw %}%}
                                    <li class="page-item">
                                        <a class="page-link" hx-get="?page={{ {% endraw %} {{model_name|lower}}s_page.next_page_number {% raw %}}}">Next</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" hx-get="?page={{ {% endraw %} {{model_name|lower}}s_page.paginator.num_pages {% raw %}}}">Last</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    {% endif %}
                    </div>
                </div>
            </div>

{% endpartialdef %}
{% endblock content %}
{% endraw %}
