{% raw %}
{% extends 'base.html' %}
{% load partials %}


{% block content %}
{% endraw %}
    <section class="flex justify-between">
        <h1 class="text-lg font-bold">{{ model_verbose_name_plural|capitalize }}</h1>

        <a href="{{ create_view_url|safe }}"
           class="cursor-pointer py-2 px-4 bg-blue-600 hover:bg-blue-700 focus:ring-blue-500 focus:ring-offset-blue-200 text-white text-center text-base font-semibold focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-lg">
            New {{ model_name|capitalize }}
        </a>
    </section>

{% raw %}
  {% partialdef table inline=True %}

  <div id="table">

    <div class="flex flex-col">
        <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
                <div class="overflow-x-auto">
                    <table class="min-w-full">
                        <thead class="border">
                            {% with th_class="text-sm font-medium text-gray-900 border-r px-6 py-4 text-left" %}
                            {% endraw %}
                                <tr>
                                    {% for _, field_data in model_fields.items() %}
                                    <th scope="col" class="{% raw -%} {{ th_class }} {%- endraw %}">{{ field_data["verbose_name"] }}</th>
                                    {% endfor %}
                                </tr>
                            {% raw %}
                            {% endwith %}
                        </thead>
                        <tbody>
                            {% with td_class="px-6 py-4 whitespace-nowrap text-sm font-medium border-r text-gray-900" %}
                                {% for {% endraw %}{{ model_name|lower }} in {{model_name|lower}}s_page {% raw %} %}
                                  {% endraw %}
                                    <tr class="border">
                                        {% for _, field_accessor in fields_verbose_name_with_accessor.items() %}
                                        <td class="{% raw -%} {{ td_class }} {%- endraw %}">{{field_accessor}}</td>
                                       {% endfor %}

                                        <td class="{% raw %} {{ td_class }} {% endraw %}">
                                             {% raw %}
                                            {% with href_class="text-blue-600 hover:underline hover:text-blue-500" %}
                                              {% endraw %}
                                                <a {% raw %} class="{{ href_class }}" {% endraw %}
                                                   href="{{ detail_view_url|safe }}">View
                                                </a>|
                                                <a  {% raw %} class="{{ href_class }}"  {% endraw %}
                                                   href="{{ update_view_url|safe }}">Edit
                                                </a>|
                                                <a
                                                   {% raw %} class="cursor-pointer {{ href_class }}" {% endraw %}
                                                    hx-target="closest tr"
                                                    hx-swap="outerHTML"
                                                    hx-confirm="Are you sure you?"
                                                    hx-delete="{{ delete_view_url|safe }}">
                                                    Delete
                                                </a>
                                                </td>
                                                </tr>
                                            {% raw %}
                                            {% endwith %}
                                {% endfor %}
                            {% endwith %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



    {% if{% endraw %} {{model_name|lower}}s_page.paginator.num_pages {% raw %}> 1 %}
        <div class="flex justify-end py-4">
            <ul class="flex list-reset border border-grey-light rounded"
            hx-target="#table" hx-swap="outerHTML"  hx-push-url="true"
            >
                {% with page_class="cursor-pointer block px-3 py-2 hover:text-white hover:bg-blue-500 border-r border-grey-light" %}

                    {% if{% endraw %} {{model_name|lower}}s_page.has_previous {% raw %}%}
                        <li>
                            <a class="{{ page_class }}" hx-get="?page=1">First</a>
                        </li>
                        <li>
                            <a class="{{ page_class }}"  hx-get="?page={{ {% endraw %}{{model_name|lower}}s_page.previous_page_number{% raw %} }}">
                                Previous
                            </a>
                        </li>
                    {% endif %}


                    {% for num in{% endraw %} {{model_name|lower}}s_page.paginator.page_range {% raw %}%}
                        {% if{% endraw %} {{model_name|lower}}s_page.number == num {% raw %}%}
                            <li>
                                <a class="{{ page_class }}"  hx-get="?page={{ num }}">{{ num }}</a>
                            </li>
                        {% elif num > {% endraw %}{{model_name|lower}}s_page.number|add:'-3'{% raw %} and num < {% endraw %}{{model_name|lower}}s_page.number|add:'3' {% raw %}%}
                            <li>
                                <a class="{{ page_class }}" hx-get="?page={{ num }}">{{ num }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    {% if{% endraw %} {{model_name|lower}}s_page.has_next {% raw %}%}
                        <li>
                            <a class="{{ page_class }}" hx-get="?page={{ {% endraw %} {{model_name|lower}}s_page.next_page_number {% raw %}}}">
                                Next
                            </a>
                        </li>
                        <li>
                            <a class="cursor-pointer block px-3 py-2 hover:text-white hover:bg-blue-500"
                                hx-get="?page={{ {% endraw %} {{model_name|lower}}s_page.paginator.num_pages {% raw %}}}">Last
                            </a>
                        </li>
                    {% endif %}
                {% endwith %}
            </ul>
        </div>
    {% endif %}
    </div>

{% endpartialdef %}
{% endblock content %}
{% endraw %}
